<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="static/css/fonts.googleapis.com.css" />

<!-- ace styles -->
<link rel="stylesheet" href="static/css/ace.min.css?v='" + Date.now()+ "'" class="ace-main-stylesheet" id="main-ace-style"
/>

<!--[if lte IE 9]>
			<link rel="stylesheet" href="static/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
<link rel="stylesheet" href="static/css/ace-skins.min.css" />
<link rel="stylesheet" href="static/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
		  <link rel="stylesheet" href="static/css/ace-ie.min.css" />
		<![endif]-->

<!-- inline styles related to this page -->



<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="static/js/html5shiv.min.js"></script>
		<script src="static/js/respond.min.js"></script>
		<![endif]-->

<link rel="stylesheet" type="" href="static/css/select2.min.css">
<link rel="stylesheet" type="" href="static/css/jqx.base.css">
<link rel="stylesheet" type="" href="static/css/sweetalert2.min.css">
<link rel="stylesheet" type="" href="static/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="" href="static/css/bootstrap-table.css">
<!--<link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<link rel="stylesheet" type="" href="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css">
<link rel="stylesheet" type="" href="static/css/sweetalert2.min.css">
<link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css">-->

<!--custom-->
<style>
	.header {
		margin-top: 0px !important;
	}
	/*.sidebar+.main-content {
		margin-left: 250px !important;
	}

	.sidebar {
		width: 250px !important;
	}*/

	@media (min-width: 768px) {
		/*.select2-container--bootstrap {
			width: 34px !important;
		}*/
	}

	@media (min-width: 992px) {}

	@media (min-width: 1200px) {}

	.modal-dialog {
		position: relative;
		width: auto;
		max-width: 600px;
		margin: 10px;
	}

	.modal-sm {
		max-width: 300px;
	}

	.modal-lg {
		max-width: 900px;
	}

	@media (min-width: 768px) {
		.modal-dialog {
			margin: 30px auto;
		}
	}

	@media (min-width: 320px) {
		.modal-sm {
			margin-right: auto;
			margin-left: auto;
		}
	}

	@media (min-width: 620px) {
		.modal-dialog {
			margin-right: auto;
			margin-left: auto;
		}
		.modal-lg {
			margin-right: 10px;
			margin-left: 10px;
		}
	}

	@media (min-width: 920px) {
		.modal-lg {
			margin-right: auto;
			margin-left: auto;
		}
	}
</style>