<div id="pengaturan_cloud">
    <div class="row">
        <h4 class="header smaller lighter blue">
            Pengaturan Perangkat
        </h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Pengaturan Cloud
                </div>
                <div class="panel panel-body" style="padding: 15px;">
                    <form class="form-horizontal" action="#">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Server URL:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">Username:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="pwd" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">Password:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="pwd" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">ID Cloud:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="pwd" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">Enable Cloud:</label>
                            <div class="col-sm-6" style="margin-top: 5px;">
                                <label><input name="switch-field-1" class="ace ace-switch ace-switch-4" type="checkbox">
														<span class="lbl"></span></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-12">
                                <button type="submit" class="btn btn-info"><i class="fa fa-link"></i>Test Koneksi</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Simpan</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Pengaturan Modem
                </div>
                <div class="panel panel-body" style="padding: 15px;">
                    <form class="form-horizontal" action="#">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">Modem Selected :</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <select class="form-control">
                            <option value="" selected=""> HUAWEI ZTE</option>
                            </select>

                                    <span class="input-group-btn"><button type="button" class="btn btn-info">
																			<span class="ace-icon fa fa-refresh icon-on-right bigger-110"></span>                                    Refresh</button>
                                    </span><span class="input-group-btn">
    <button type="button" class="btn btn-primary">
																			<span class="ace-icon fa fa-save icon-on-right bigger-110">
                                                                                </span>SIMPAN</button>
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="hr hr-24"></div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">Username :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="" value="wap" placeholder="Enter">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">Password :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="" value="wap123" placeholder="Enter">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">APN :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="" value="telkomesel" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">Dial Number :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="" value="*99#" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Simpan Pengaturan APN</button>
                            </div>
                        </div>
                        <div class="hr hr-24"></div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">Command Modem :</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <select class="form-control">
                            <option value="" selected="">Cek Pulsa</option>
                            <option value="" selected="">Cek Signal</option>
                            <option value="" selected="">Cek Internet</option>
                            </select>
                                    <span class="input-group-btn">
    <button type="button" class="btn btn-primary">
																			<span class="ace-icon fa fa-send icon-on-right bigger-110">
                                                                                </span>Kirim</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="">Response :</label>
                            <div class="col-sm-8">
                                <textarea rows="4" cols="10" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>